{
  "servers": [
    {
      "name": "ssh_key_example",
      "user": "testuser",
      "host": "testhost.example.com",
      "port": 22,
      "remote_path": "/test/path"
    },
    {
      "name": "ssh_password_example",
      "user": "testuser",
      "host": "testhost2.example.com",
      "port": 22,
      "password": "testpassword",
      "remote_path": "/test/path2"
    }
  ]
}