{
    "servers": [
        {
            "name": "folder_name_compatible_name",
            "user": "username",
            "host": "thisisyoutestserver.com",
            "port": 22,
            "remote_path": "/remote/path"
        }
    ]
}